
.navbar{
    list-style-type: none;
    
}

.navbar-brand{
    font-size: 30px;
    font-stretch: expanded;
}

.nav-item{
    font-size: 30px;
    font-stretch: expanded;
}

.nav-link{
    font-size: 30px;
    font-stretch: expanded;
}

body {
    background-image: url("Pictures/bg.jpg");
    
}

div{
    margin: auto;
    width: 80%;
}

.about{
font-size: 35px;

}

.Page_Center{
    background-color: gray;
    opacity: .85;
}

.FaceBook_Link{
    height: 60px;
    width: 150px;
}

p{
    color: white;
    opacity: 1.0;
}

.footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
    padding-top:20px;
  }
